/* Common styles */
:root {
  --primary-color: #FF42A5;
  --secondary-color: #4EC5F7;
  --title-color: #0B0223;
  --text-color: #3C354F;
}

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: var(--text-color);
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  line-height: 1.4;
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: var(--title-color);
}
main {
  padding-block: 30px;
}
section {
  padding-block: 40px;
}
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 20px;
}
.highlight {
  color: var(--primary-color);
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.social-icons {
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gradient-text {
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.list {
  padding-inline-start: 0;
  list-style-type: none;
}
.button {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 16px 40px;
  border-radius: 40px;
  display: inline-block;
  color: var(--primary-color);
  background: #ffffff;
}
.button-primary {
  color: #ffffff;
  background: var(--primary-color);
}
.button-secondary {
  color: #ffffff;
  background: var(--secondary-color);
}
.section-title {
  font-size: 28px;
}
/* Header Styles */
header {
  padding-block: 45px;
}
header #navbar {
  gap: 30px;
}
.logo {
  display: flex;
  font-size: 45px;
  font-weight: 700;
  align-items: center;
  gap: 10px;
  color: var(--title-color);
}
.logo img {
  flex-basis: 80px;
}
header .follow-buttons {
  display: flex;
  gap: 10px;
  background: rgba(11, 2, 35, 0.10);
  padding: 17px 25px;
  border-radius: 5px;
  align-items: center;
}
header .social-icons {
  gap: 10px;
}
header .icon img {
  width: 24px;
}
#main-menu {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Banner section styles */
.top-banner {
  row-gap: 40px;
}
.top-banner .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.top-banner h2 {
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
}
.top-banner h2 .gradient-text {
  font-size: 80px;
  font-weight: 800;
}
.top-banner .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.top-banner .list li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.top-banner .list li img {
  width: 16px;
}
.top-banner .buttons {
  display: flex;
  gap: 10px;
}

/* about section styles */
.about {
  text-align: center;
}
.about .content{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about .quote {
  font-size: 24px;
  font-weight: 700;
}

/* game gallery section styles */
.game-gallery {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.game-gallery .gallery {
  gap: 30px;
  padding-top: 40px;
  flex-wrap: wrap;
  flex-direction: initial;
  justify-content: center;
  align-items: flex-start;
}
.game-gallery .gallery-item {
  width: 275px;
}
.game-gallery .gallery-item .image {
  width: 100%;
  aspect-ratio: 3/4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5) url("images/gallery1.png");
  background-size: cover;
  transition: 0.5s;
}
.game-gallery .gallery-item .image:hover {
  background-blend-mode: darken;
}

.game-gallery .gallery-item:nth-child(2) .image {
  background-image: url("images/gallery2.png");
}
.game-gallery .gallery-item:nth-child(3) .image {
  background-image: url("images/gallery3.png");
}
.game-gallery .gallery-item:nth-child(4) .image {
  background-image: url("images/gallery4.png");
}
.game-gallery .gallery-item .icon {
  width: 36px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.game-gallery .gallery-item .text {
  color: var(--primary-color);
  padding-top: 15px;
}
.game-gallery .gallery-item .icon,
.game-gallery .gallery-item .text {
  visibility: hidden;
}
.game-gallery .gallery-item:hover .icon,
.game-gallery .gallery-item:hover .text {
  visibility: visible;
}
.game-gallery .gallery-item .description {
  text-align: left;
  padding-top: 10px;
}

/* Promotion sections styles */
.promotion-add {
  --bottom: 70px;
  --left: max(50px, 15%);
  text-align: center;
  gap: 30px;
}
.promotion-add h2 {
  margin-bottom: 20px;
}
.promotion-add .image {
  position: relative;
  width: min(600px, 100%);
  margin-bottom: var(--bottom);
}
.promotion-add .big-img {
  width: calc(100% - var(--left));
  margin-left: var(--left);
}
.promotion-add .small-img {
  position: absolute;
  width: max(200px, 40%);
  left: 0;
  bottom: calc(var(--bottom) * -1);
}
.promotion-add.two .big-img {
  width: calc(100% - var(--left));
  margin-right: var(--left);
  margin-left: 0;
}
.promotion-add.two .small-img {
  right: 0;
  left: auto;
}

/* footer careers section styles */
.careers {
  background: var(--primary-color);
  color: #ffffff;
  padding-block: 90px;
}
.careers .container {
  gap: 30px;
}
.careers .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}
.careers h2 {
  color: #ffffff;
}
.careers .list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.careers .list .item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
/* medium screen CSS */
@media screen and (min-width: 576px ) {
  .container {
    padding-inline: 0;
  }
}

/* large screen CSS */
@media screen and (min-width: 992px) {
  
}